* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
}
body {
  background-color: black;
  color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

.main{
  height: 100vh;
}

.list {
  align-items: center;
  min-height: 50vh;
  height: 50vh;
  overflow-y: scroll;
  scroll-behavior: auto;
}

@media screen and (max-width:952px){
  .main{
    padding: 0;
  }
  #body{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 99vw;
    font-size: medium;
  }
  #details{
    width: 100%;
    font-size: large;
    display: flex;
    align-items: center;
    justify-items: start;
    padding-left: 4px;
  }
  #list{
    width: 100%;
    height: 40vh;
    padding: 8px;
    font-size:1rem;
  }
  .responsiveBox{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  input{
    width: 99%;
  }
  input{
    width: 99%;
  }
  .show{
    word-wrap: break-word;
  }
}

